
@import url("https://use.typekit.net/nrn0kia.css");

/* Common Styles */
*,
:before,
:after { 
	box-sizing: border-box;
}
p{
  padding: 10px;
}
h2{
  padding: 5px;
}
h3{
  padding: 5px;
}
h4{
  padding: 5px;
}

/* Animations */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0) translateY(50%);
  }
	90% {
		transform: scale(1.05);
	}
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@-moz-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@-webkit-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@-o-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@keyframes pulse
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

/* Buttons */
.hero-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: ivymode, serif;
  }
  .button{
    height: 52px;
    width: 192px;
    border-radius: 6px;
    font-weight: 500;
    font-family: ivymode, serif;
    font-size: 1rem;
    margin: 10px;
  }

  .nav-button{
    height: 52px;
    width: 75px;
    border-radius: 6px;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: ivymode, serif;
  }
  .btn-dark{
    background: #013110;
    color: #f6f2ec;
    border: 2px solid #013110;
    transition: all .3s ease; 
  }
  .btn-dark:hover{
    background: #013110;
    color: #f6f2ec;
    border: 2px solid #ccb25c;
  }
  .btn-gold-dark{
    background: #ccb25c;
    color: #013110;
    border: 2px solid #ccb25c;
    
  }    
  .btn-gold-dark:hover{
    background: #ccb25c;
    color: #013110;
    border: 2px solid #f6f2ec;
    transition: all .3s ease; 
  }    
  .btn-light{
    background: transparent;
    color: #013110;
    border: 2px solid #013110;
    transition: all .3s ease; 
  }
  .btn-light:hover{
    color: #f6f2ec;
    background: #013110;
    border: 2px solid #ccb25c;
  }
  .btn-gold-light{
    background: transparent;
    color: #F6F2EC;
    border: 2px solid #ccb25c;
    transition: all .3s ease; 
  }
  .btn-gold-light:hover{
    color: #013110;
    background: #ccb25c;
    border: 2px solid #f6f2ec;
  }
  #star{
    height: 10px;
    width: 10px;
  }

  /* Other Global Styles */
  #logo{
    background-color: gray;
    height: 75px;
    width: 175px;
    margin: 5px;
    width: 25%;
  }

  .directions{
    display: none;
  }

  #bar2{
    height: 5px;
    width: 25%;
    background-color: #DBC472;
  }
  #bar{
    height: 5px;
    width: 40%;
    background-color: #DBC472;
  }

/* TESTING */
.grid-container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fit(6, 1fr));
  gap: 0 0;
  grid-template-areas:
    "Hero Hero Hero Hero Hero"
    "Services Services Services Services"
    "Steps Steps Steps Steps Steps"
    "signup signup signup signup signup";
    background-attachment: fixed;
    background-color: #f6f2ec;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1118' height='1118' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23ccb25c' stroke-width='0.1' stroke-opacity='0.17'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
  }

/* Hero */
.Hero { 
    grid-area: Hero; 
    grid-gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 100vw;
    padding-bottom: 80px;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  object-fit: cover;
  width: 100vw;
  max-height: 100vh;
}
.hero-header-text{
  font-family: ivymode, sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  margin: 0 auto 20 auto;
  padding: 15px;
  background-color: rgba(1, 49, 16, 0.25);
  border: 0.5px dotted #ccb25c;
  z-index: 1;
}
.hero-header-text blockquote {
  border-left: 2px solid #ccc;
  margin-left: 1.5em 10px;
  padding: 0.5em 10px;
}
.hero-header-text blockquote p {
  display: inline;
}
.hero-buttons{
  z-index: 0;
}
/* Services */
.Services{ 
  grid-area: Services;
  text-align: center;
  border: 25px solid rgba(1, 49, 16, 0.25);
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  position: relative;
  z-index: 0;
}
.services-bg{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(https://guestrealty-71f30a.ingress-comporellon.easywp.com/wp-content/uploads/2020/11/caleb-semeri-kVhce-9iEWs-unsplash.jpg) center center;
  background-attachment: fixed;
  opacity: .3;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.Services h2{
  color: #153211;
  font-family: ivymode, serif;
  font-size: 3.5rem;
  padding: 40px 40px 40px 40px;
  margin-bottom: -20px;
}
.Services p{
  color: #153211;
  font-family: freight-sans-pro, sans-serif;
  font-size: 1.35rem;
}
.Services #bar2{
  margin: 0 auto;
}
.services-container {
  position: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: 10px;
}
.services-row{
  position: inline-block;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.Services-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  min-height: 400px;
  max-width: 500px;
  border-radius: 20px;
  background-color: rgba(1, 49, 16, 0.25);
  border: 2px dotted #ccb25c;
}
.Services-card h3{
  color: #f6f2ec;
  font-family: ivymode, serif;
  font-size: 1.8rem;
}
.Services-card #bar2{
  margin: 0px auto;
  margin-bottom: 20px;
}
.Services-card h3{
  font-size: 1.6rem;
}
.Services-card p{
  color: #1f211d;
  font-family: ivymode, serif;
  font-size: .2rem;
  font-weight: 400;
  margin: 20px auto;
}
/* How It Works/ Need Help Planning*/
.Steps { 
  grid-area: Steps; 
  padding: 40px;
}
.Steps-Title{
  margin: 0 auto;
}
.Steps h2{
  font-size: 2.5rem;
  color: #153211;
  text-align: left;
  font-family: ivymode, serif;
  width: 100%;
  padding: 20px;
}
.Steps p{
  font-size: 2rem;
  color: #153211;
  text-align: left;
  font-family: freight-sans-pro, sans-serif;
  width: 100%;
  padding: 20px;
}

.Steps span{
  font-size: 1.8rem;
  color: #153211;
  background: linear-gradient(to top, #ccb25c 25%, transparent 50%);
  font-family: ivymode, sans-serif;
}
.tooltip,
.container__step1:before,
.container__step2:before,
.container__step3:before {
  position: absolute;
  margin: 0 auto;
  bottom: 100%;
  color: #fff;
  background: #ccb25c;
  font-family: ivymode, serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 0.25rem 0.75rem;
  border-top-left-radius: 2.5px;
}
.card,
.container__step1 div,
.container__step2 div,
.container__step3 div {
  line-height: 2;
  background: #FFF;
  padding: 1.2rem 1rem;
  border-radius: 20px;
}

.steps-container {
  margin: 0;
  padding: 15vh 0;
  background-attachment: fixed;
	background-color: #f6f2ec;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1118' height='1118' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23ccb25c' stroke-width='0.1' stroke-opacity='0.17'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 0;
}
.steps-bg{
position: absolute;
z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: url(https://guestrealty-71f30a.ingress-comporellon.easywp.com/wp-content/uploads/properties/33_Bronte/33-Gardyne-St-Bronte-14.jpg) center center;
background-attachment: fixed;
opacity: .3;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}
.steps-container svg {
  height: 5rem;
}
.steps-container svg line {
  stroke: #ccb25c;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-dasharray: 2px 20px;
  animation: animateline 5s linear both infinite;
}
.steps-container h3 {
  font-family: ivymode, serif;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 auto;
  color: #013110;
}
.steps-container p {
  font-family: freight-sans-pro, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  width: 80%;

}
.steps-container ul {
  font-family: freight-sans-pro, sans-serif;
  text-align: left;
  margin-left: 25px;
}
.steps-container li {
  font-family: freight-sans-pro, sans-serif;
  font-size: 0.95rem;
  width: 80%;
}
.container__step1 {
  display: grid;
  border-radius: 8px;
  padding: 1.5rem;
  border: 3px solid #ccb25c;
  background-color: none;
  position: relative;
}
.container__step1 img{
  height: 4rem;
  width: 4rem;
  margin: 20px 20px 10px 20px;
}
.container__step1:before {
  content: 'Getting Started';
}
.container__step1 div {
  text-align: center;
  margin: 1rem 1rem;
}
.container__step2 {
  padding: 1.5rem;
  display: grid;
  border-radius: 8px;
  border: 3px solid #ccb25c;
	background-color: none;
  position: relative;
}
.container__step2:before {
  content: 'From Check-In';
}
.container__step2 div {
  margin: 1rem 1rem;
}
.container__step2 div svg {
  width: 100%;
  fill: #ccb25c;
  margin-top: 10px;
  animation: pulse 5s infinite;
}
.container__step2 div img {
  height: 5rem;
  width: 5rem;
  margin: 20px 20px 10px 20px;
  animation: pulse 5s infinite;
}
.container__step3 {
	padding: 1.5rem;
  display: grid;
  border-radius: 8px;
  border: 3px solid #ccb25c;
	background-color: none;
  position: relative;
}
.container__step3 img{
  height: 4rem;
  width: 4rem;
  margin: 20px 20px -10px 20px;
}
.container__step3:before {
  content: 'To Check Out';
}
.container__step3 div {
  margin: 1rem 1rem;
}
@media (max-width: 700px) {
  .container__step1 {
    flex-direction: column;
  }
  .container__step1 div {
    margin: 1rem 0;
  }
}
/* Signup*/
.signup { 
  grid-area: signup; 
  background-size: cover;
  padding: 40px;
  margin-top: -100px;
}
.signup-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
background-color: #f6f23c;
background:  url("https://guestrealty-71f30a.ingress-comporellon.easywp.com/wp-content/uploads/2020/11/GR_waves-bg.jpg");
background:  url("https://guestrealty-71f30a.ingress-comporellon.easywp.com/wp-content/uploads/2020/11/GR_waves-bg.jpg"); /* The least supported option. */
background-size: cover;
background-position: center;
background-attachment: fixed;
border-radius: 8px;
padding: 20px;

}
.signup-text{
  font-size: 1.2rem;
  font-weight: 800;
  color: #f6f2ec;
  font-family: ivymode, sans-serif;
  font-style: normal;
}
.signup-buttons{
display: flex;
flex-direction: row;
}

/* Media Queries */
@media (min-width: 420px) {
  img.aligncenter,
  img.alignleft,
  img.alignright {
    width: auto;
  }
  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .alignright {
    float: right;
    margin-left: 24px;
  }
  .alignleft {
    float: left;
    margin-right: 24px;
  }
}
/* Smartphones - Portrait Mode */
@media screen and (max-width: 420px) {
  /*Hero-xs*/
  .grid-container{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    grid-template-areas:
    "Hero"
    "Services"
    "Steps"
    "signup";
  }
  header{
    display: none;
  }
  footer{
    display: none;
  }
  .Hero{
    grid-area: Hero;
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
  }
  .hero-header-text{
    font-size: 1rem;
    margin-top: -80px;
    margin-left: -8px;
  }
  .hero-buttons{
    flex-direction: column;
  }
  /* Services-xs */
  .Services{
    grid-area: Services;
    margin-top: 20px;
    padding: 20px;
    max-width: 100vw;
  }
  .Services h2{
    font-size: 1.4rem;
  }
  .Services p{
    font-size: .9rem;
  }
  .services-container {
    flex-direction: column;
    margin-top: 0px;
    max-width: 100vw;
    margin-left: -5px;
  }
  .services-row{
    flex-direction: column;
  }
  .services-container img{
    min-height: 250px;
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: clip;
    border-radius: 20px;
    margin: 10px;
  }
  .services-container .card {
    max-width: 60vw;
    height: 6rem;
    margin-top: -110px;
  }
  .services-container .card:hover {
    margin-top: -255px;
    height: 15rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
  }
  .services-container .card__header-icon {
    margin-top: -2.5rem;
  }
  .services-container .card__icon h3 {
    font-size: 1rem;
    width: 80%;
    padding: 5px;
  }
  .services-container .card__media p {
    font-size: 0.9rem;
    width: 100%;
    padding: 5px;
  }
  .services-container img{
    max-width: 60vw;
  }
   /* Steps-xs */
  .Steps{
    grid-area: Steps;
    max-width: 100vw;
  }
  .Steps h2{
    font-size: 1.4em;
  }
  .Steps-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    }
    .steps-container h3 {
      font-size: 1rem;
    }
    .steps-container p {
      font-size: 0.9rem;
    }
    .steps-container ul {
      text-align: left;
      margin-left: 5px;
    }
    .steps-container li {
      font-size: 0.9rem;
    }
    .container__step1 {
      padding: 0.5rem;
    }
    .container__step2 {
      padding: 0rem;
    }
    .container__step3 {
      padding: 0rem;
    }

    /* Signup - xs*/
  .signup{
    grid-area: signup;
    max-width: 100vw;
    margin-top: -10px;
  }
  .signup-container{
    flex-direction: column;
    align-items: center;
  }
  .signup-text{
    font-size: 0.8rem;
    font-weight: 400;
  }
  .signup-buttons{
    flex-direction: column;
  }
}
/* Smartphones - Landscape */
@media screen and (min-width: 421px) and (max-width: 767px) {
  .grid-container{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    grid-template-areas:
    "Hero"
    "Services"
    "Steps"
    "signup";
  }
  /* Hero -sm */

  .Hero{
    grid-area: Hero;
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
  }
  .hero-header-text{
    font-size: 0.9rem;
    width: 80%;
    margin-left: -8px;
  }
  /* Services -sm */
  .Services{
    margin-top: -40px;
    grid-area: Services;
    max-width: 95%;
    border: 10px solid rgba(1, 49, 16, 0.25);
  }
  .Services h2{
    font-size: 1.4rem;
  }
  .Services p{
    font-size: .9rem;
  }
  .services-container {
    flex-direction: column;
    margin-top: 0px;
    max-width: 90vw;
    margin-left: -5px;
  }
  .services-row{
    flex-direction: column;
  }
  .services-container img{
    min-height: 250px;
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: clip;
    border-radius: 20px;
    margin: 10px;
  }
  .services-container .card {
    max-width: 60vw;
    height: 6rem;
    margin-top: -110px;
  }
  .services-container .card:hover {
    margin-top: -255px;
    height: 15rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
  }
  .services-container .card__icon h3 {
    font-size: 1rem;
    width: 100%;
    padding: 5px;
  }
  .services-container .card__media p {
    font-size: 1rem;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
  }
  .services-container .card__header-icon {
    margin-top: -2.5rem;
  }
  .services-container .card__icon h3 {
    font-size: 1rem;
    width: 90%;
    padding: 5px;
  }
  .services-container .card__media p {
    font-size: 1rem;
    width: 100%;
    padding: 5px;
  }
  .services-container img{
    max-width: 60vw;
  }
  /* Steps -sm */
  .Steps{
    grid-area: Steps;
    max-width: 100vw;
  }
  .steps-container p {
    font-size: 0.9rem;
  }
   /* Signup - sm */
   .signup{
    grid-area: signup;
    max-width: 100vw;
    margin-top: 10px;
  }
  .signup-buttons{
    flex-direction: column;
  }
}
/* Tablet- Portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    grid-template-areas:
    "Hero Hero Hero Hero Hero"
    "Services Services Services Services Services"
    "Step Steps Steps Steps Steps"
    "signup signup signup signup signup";
  }
  /* Hero -m */
  .Hero{
    grid-area: Hero;
    max-width: 100vw;
  }
    /* Services -m */
    .Services{
      grid-area: Services;
      max-width: 100vw;
    }
    .Services h2{
      font-size: 2.4rem;
      margin-bottom: -20px;
    }
    .Services p{
      font-size: 1.4rem;
      margin: 0 auto;
    }
    .services-container {
      flex-direction: column;
    }
    .services-row{
      flex-direction: column;
    }
    .Services-card p{
      font-size: 1.2em;
      margin: 0 auto;
      width: 100%;
    }
    /* Steps -m */
  .Steps{
    grid-area: Steps;
    max-width: 100vw;
  }
   /* Signup - m */
   .signup{
    grid-area: signup;
    max-width: 100vw;
   
  }
}

/* Tablet- Landscape and sm Laptop/Desktop */
@media screen and (min-width: 1024px) {
  .grid-container{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    grid-template-areas:
    "Hero Hero Hero Hero Hero"
    "Services Services Services Services Services" 
    "Steps Steps Steps Steps Steps"
    "signup signup signup signup signup";
  }
  /* Hero -lg */
  .Hero{
    grid-area: Hero;
    max-width: 100vw;
  }
  /* Services -lg */
  .Services{
    grid-area: Services;
    max-width: 100vw;
  }
  .Services h2{
    font-size: 2.4rem;
    margin-bottom: -20px;
  }
  .Services p{
    font-size: 1.4rem;
    margin: 0 auto;
    width: 100%;
  }
  .services-container {
    flex-direction: column;
  }
  .services-row{
    flex-direction: row;
  }
  .Services-card p{
    font-size: 1.2em;
    margin: 0 auto;
    width: 100%;
  }
  

   /* Steps -lg */
   .Steps{
    grid-area: Steps;
    max-width: 100vw;
  }
   /* Signup - lg */
   .signup{
    grid-area: signup;
    max-width: 100vw;
  }

}
/* Video Hero */
@media (min-aspect-ratio: 16/9) {
  #myVideo {
      width:100%;
      height: auto;
      z-index: 0;
  }
}
@media (max-aspect-ratio: 16/9) {
  #myVideo { 
      width:auto;
      height: 100%;
      z-index: 0;
  }
}